.toolbar::-webkit-scrollbar {
    height: .70rem;
}
.toolbar::-webkit-scrollbar-track {
    background-color: var(--purple-dark);
    border-radius: 100vw;
}
.toolbar::-webkit-scrollbar-thumb {
    background-color: var(--orange);
    border-radius: 100vw;
}